@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(19, 19, 19, 0.8);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bannerContainer {
  height: 550px;
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 24px;
  background: rgba(19, 19, 19, 0.05);
}

.books-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: rgb(243, 243, 243);
}

.books-card {
  box-sizing: border-box;
  border: 1px solid rgba(19, 19, 19, 0.15);
  border-radius: 16px;

}

.books_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 0px;
}

.readBook-category-bg {
  display: flex;
  ;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  background: rgba(10, 7, 13, 0.35);
}

.readBook-rating-bg {
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  background: rgba(146, 50, 255, 0.15);
}

.testimonials {
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border {
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.testimonial {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.342);
  display: grid;
  place-items: center;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 20px 0;
}

.stars {
  color: #020302;
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
  .col {
    flex: 100%;
    max-width: 80%;
  }
}

@media screen and (max-width:600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}